body{
    margin: auto;
    background-image: url(linkedin.avif);
    background-size: cover;
}
.salman{
    background-color:gray;
    backdrop-filter: blur(50px);

}
div{
    background-color: gray;
    backdrop-filter: blur(50px);
}
